.outside {
  border: solid 1px black;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: gray;
  color: white;
  border-radius: 10px;
}

.inside {
  border: solid 1px gray;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: rgb(236, 236, 236);
  color: black;
  border-radius: 10px;
}

.deepside {
  border: solid 1px gray;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  margin: 4px;
  background-color: white;
  border-radius: 10px;
}

.deepside button {
  background-color: black;
  color: white;
  margin: 1px;
}
